* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 80px 20px 100px 20px;
  box-shadow: 0 0 5px white;
  background-color: white;
  border-radius: 10px;
}
.all_btn {
  background-color: #00dbde;
}
.com_btn {
  background-color: lightgreen;
}
.uncom_btn {
  background-color: lightcoral;
}

.js-form {
  margin-top: 40px;
}
.js-input {
  padding: 10px 20px;
  border-radius: 5px;

  border: none;
  border: 1px solid grey;
}
.js-btn {
  background-color: aquamarine;
}
.btn {
  padding: 10px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
}
.delete-btn {
  background-color: red;
  padding: 6px 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  color: white;
  margin-left: 18px;
  margin-top: 10px;
}
.js-newitem {
  list-style: none;
}
.js-span {
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .box {
    padding: 60px 13px 80px 13px;
  }
}
